.mi-nav{
  background-color: black;
}

.mi-card{
  box-shadow: 18px 17px 19px -2px rgba(0,0,0,0.75);
  border: 1px solid #cbc4c4;
  border-radius: 10px 10px 10px 10px;
}

.mi-container{
  margin-top: 15px;
}